.czlblistDiv {
  margin-top: 20px;
}

.czlblistitem {
  margin-top: 15px;
  width: 95vw;
  margin-left: 2.5vw;
  height: 86px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 1px rgba(228, 227, 227, 0.918);
  overflow: hidden;
  position: relative;
}

.czlblistitemname {
  margin-top: 18px;
  margin-left: 14px;
  font-size: 16px;
  color: var(--boutton-background-color);
  font-weight: 700;
}

.czlblistitemaddress {
  margin-top: 15px;
  margin-left: 14px;
  font-size: 12px;
  color: #999999;
}

.czlblistitemicon {
  position: absolute;
  top: 33px;
  right: 10px;
  font-size: 20px;
  color: #999999;
}