.tradTradingRecordCenterTX-1:focus {
  outline: 0px;
}

.tradTradingRecordCenterTX-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-2:focus {
  outline: 0px;
  display: none;
}

.tradTradingRecordCenterTX-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  flex-shrink: 0;
  width: 100%;
  display: none;
}

.tradTradingRecordCenterTX-3:focus {
  outline: 0px;
}

.tradTradingRecordCenterTX-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-4:focus {
  outline: 0px;
}

.tradTradingRecordCenterTX-4:after {
  display: table;
  clear: both;
  content: "";
}

.tradTradingRecordCenterTX-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0.8rem 1.33333rem;
  border: 0px;
  outline: 0px;
  font-size: 0.8rem;
  vertical-align: baseline;
  background: transparent;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  line-height: 1.6rem;
  display: flex;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.tradTradingRecordCenterTX-5:focus {
  outline: 0px;
  text-align: left;
}

.tradTradingRecordCenterTX-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: left;
}

.tradTradingRecordCenterTX-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-7 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterTX-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-10 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterTX-11:focus {
  outline: 0px;
}

.tradTradingRecordCenterTX-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: right;
}

.tradTradingRecordCenterTX-12 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-14 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterTX-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
}

.tradTradingRecordCenterTX-16 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterTX-17 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
}

.tradTradingRecordCenterTX-18:focus {
  outline: 0px;
}

.tradTradingRecordCenterTX-18 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(150, 151, 153);
  line-height: 50px;
  text-align: center;
}

.tradTradingRecordCenterTX-19:focus {
  outline: 0px;
}

.tradTradingRecordCenterTX-19 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 0px;
  pointer-events: none;
}

.tradTradingRecordCenterTX-20:focus {
  outline: 0px;
}

.tradTradingRecordCenterTX-20 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  flex-shrink: 0;
  width: 100%;
}

.tradTradingRecordCenterTX-21:focus {
  outline: 0px;
}

.tradTradingRecordCenterTX-21 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-22:focus {
  outline: 0px;
}

.tradTradingRecordCenterTX-22:after {
  display: table;
  clear: both;
  content: "";
}

.tradTradingRecordCenterTX-22 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0.8rem 1.33333rem;
  border: 0px;
  outline: 0px;
  font-size: 0.8rem;
  vertical-align: baseline;
  background: transparent;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  line-height: 1.6rem;
  display: flex;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.tradTradingRecordCenterTX-23:focus {
  outline: 0px;
  text-align: left;
}

.tradTradingRecordCenterTX-23 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: left;
}

.tradTradingRecordCenterTX-24 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-25 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterTX-26 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-27 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-28 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterTX-29:focus {
  outline: 0px;
}

.tradTradingRecordCenterTX-29 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: right;
}

.tradTradingRecordCenterTX-30 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-31 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterTX-32 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterTX-33 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
}

.tradTradingRecordCenterTX-34 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterTX-35 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
}

.tradTradingRecordCenterTX-36:focus {
  outline: 0px;
}

.tradTradingRecordCenterTX-36 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(150, 151, 153);
  line-height: 50px;
  text-align: center;
}

.tradTradingRecordCenterTX-37:focus {
  outline: 0px;
}

.tradTradingRecordCenterTX-37 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 0px;
  pointer-events: none;
}
