.tradTradingRecordCenterCX-1:focus {
  outline: 0px;
}

.tradTradingRecordCenterCX-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCX-2:focus {
  outline: 0px;
}

.tradTradingRecordCenterCX-2:after {
  display: table;
  clear: both;
  content: "";
}

.tradTradingRecordCenterCX-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0.8rem 1.33333rem;
  border: 0px;
  outline: 0px;
  font-size: 0.8rem;
  vertical-align: baseline;
  background: transparent;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  line-height: 1.6rem;
  display: flex;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.tradTradingRecordCenterCX-3:focus {
  outline: 0px;
  text-align: left;
}

.tradTradingRecordCenterCX-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: left;
}

.tradTradingRecordCenterCX-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCX-5 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterCX-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCX-7 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCX-8 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterCX-9:focus {
  outline: 0px;
}

.tradTradingRecordCenterCX-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: right;
}

.tradTradingRecordCenterCX-10 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCX-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCX-12 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterCX-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
}

.tradTradingRecordCenterCX-14 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterCX-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
}

.tradTradingRecordCenterCX-16:focus {
  outline: 0px;
}

.tradTradingRecordCenterCX-16 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(150, 151, 153);
  line-height: 50px;
  text-align: center;
}

.tradTradingRecordCenterCX-17:focus {
  outline: 0px;
}

.tradTradingRecordCenterCX-17 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 0px;
  pointer-events: none;
}

.marketOrder-1:focus {
  outline: 0px;
}

.marketOrder-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-1:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-1:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-2:focus {
  outline: 0px;
}

.marketOrder-2:after {
  display: table;
  clear: both;
  content: "";
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0.8rem 1.33333rem;
  border: 0px;
  outline: 0px;
  font-size: 0.8rem;
  vertical-align: baseline;
  background: transparent;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  line-height: 1.6rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.marketOrder-2:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-3:focus {
  outline: 0px;
  text-align: left;
}

.marketOrder-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: left;
}

.marketOrder-3:after {
  box-sizing: border-box;
  margin: 0px;
  text-align: left;
}

.marketOrder-3:before {
  box-sizing: border-box;
  margin: 0px;
  text-align: left;
}

.marketOrder-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-4:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-4:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
}

.marketOrder-5:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-5:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-6:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-6:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-7 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-7:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-7:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
}

.marketOrder-8:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-8:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-9:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-9:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-10:focus {
  outline: 0px;
}

.marketOrder-10 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: right;
}

.marketOrder-10:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-10:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-11:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-11:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-12 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-12:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-12:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
}

.marketOrder-13:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-13:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-14 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
}

.marketOrder-14:after {
  box-sizing: border-box;
  margin: 0px;
  color: rgb(128, 128, 128);
}

.marketOrder-14:before {
  box-sizing: border-box;
  margin: 0px;
  color: rgb(128, 128, 128);
}

.marketOrder-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
}

.marketOrder-15:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-15:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-16 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
}

.marketOrder-16:after {
  box-sizing: border-box;
  margin: 0px;
  color: rgb(128, 128, 128);
}

.marketOrder-16:before {
  box-sizing: border-box;
  margin: 0px;
  color: rgb(128, 128, 128);
}

.marketOrder-17:focus {
  outline: 0px;
}

.marketOrder-17:after {
  display: table;
  clear: both;
  content: "";
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-17 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0.8rem 1.33333rem;
  border: 0px;
  outline: 0px;
  font-size: 0.8rem;
  vertical-align: baseline;
  background: transparent;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  line-height: 1.6rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.marketOrder-17:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-18:focus {
  outline: 0px;
  text-align: left;
}

.marketOrder-18 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: left;
}

.marketOrder-18:after {
  box-sizing: border-box;
  margin: 0px;
  text-align: left;
}

.marketOrder-18:before {
  box-sizing: border-box;
  margin: 0px;
  text-align: left;
}

.marketOrder-19 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-19:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-19:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-20 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
}

.marketOrder-20:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-20:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-21 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-21:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-21:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-22 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-22:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-22:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-23 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
}

.marketOrder-23:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-23:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-24 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-24:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-24:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-25:focus {
  outline: 0px;
}

.marketOrder-25 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: right;
}

.marketOrder-25:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-25:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-26 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-26:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-26:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-27 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.marketOrder-27:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-27:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-28 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
}

.marketOrder-28:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-28:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-29 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
}

.marketOrder-29:after {
  box-sizing: border-box;
  margin: 0px;
  color: rgb(128, 128, 128);
}

.marketOrder-29:before {
  box-sizing: border-box;
  margin: 0px;
  color: rgb(128, 128, 128);
}

.marketOrder-30 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
}

.marketOrder-30:after {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-30:before {
  box-sizing: border-box;
  margin: 0px;
}

.marketOrder-31 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
}

.marketOrder-31:after {
  box-sizing: border-box;
  margin: 0px;
  color: rgb(128, 128, 128);
}

.marketOrder-31:before {
  box-sizing: border-box;
  margin: 0px;
  color: rgb(128, 128, 128);
}

.marketOrder-32:focus {
  outline: 0px;
}

.marketOrder-32 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(150, 151, 153);
  line-height: 50px;
  text-align: center;
}

.marketOrder-33:focus {
  outline: 0px;
}

.marketOrder-33 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 0px;
  pointer-events: none;
}
