.zixunlist-1 {
  box-sizing: border-box;
  padding: 0px;
  height: 100px;
  background: white;
  border-radius: 20px;
  margin: 7px 1% 0px !important;
  width: 98% !important;
}

@media print {
  .zixunlist-1 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-2 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border-radius: 20px;
  height: 90px;
}

@media print {
  .zixunlist-2 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-3 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 123, 255);
  text-decoration: none;
  background-color: transparent;
}

.zixunlist-3:active {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-3:visited {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-3:link {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-3:hover {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

@media print {
  .zixunlist-3 {
    text-shadow: none !important;
    box-shadow: none !important;
    text-decoration: underline;
  }

  .zixunlist-3:hover {
    text-decoration: underline;
  }
}

.zixunlist-4 {
  box-sizing: border-box;
  border-radius: 20px;
  height: 90px;
  width: 33.3%;
  background: white;
  float: left;
  margin: 0px auto;
  text-align: center;
  padding: 10px;
}

@media print {
  .zixunlist-4 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-5 {
  box-sizing: border-box;
  margin: 5px 0px;
  padding: 0px;
}

@media print {
  .zixunlist-5 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-6 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgb(112, 122, 138);
  font-size: 14px;
}

@media print {
  .zixunlist-6 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-7 {
  box-sizing: border-box;
  margin: 5px 0px;
  padding: 0px;
}

@media print {
  .zixunlist-7 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-8 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #2ebd85;
}

.zixunlist-8-1 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgb(246, 24, 91);
}

@media print {
  .zixunlist-8 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-9 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-9 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-10 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 16px;
  color: #2ebd85;
}

.zixunlist-10-1 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 16px;
  color: rgb(246, 24, 91);
}

@media print {
  .zixunlist-10 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-11 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 123, 255);
  text-decoration: none;
  background-color: transparent;
}

.zixunlist-11:active {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-11:visited {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-11:link {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-11:hover {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

@media print {
  .zixunlist-11 {
    text-shadow: none !important;
    box-shadow: none !important;
    text-decoration: underline;
  }

  .zixunlist-11:hover {
    text-decoration: underline;
  }
}

.zixunlist-12 {
  box-sizing: border-box;
  border-radius: 20px;
  height: 90px;
  width: 33.3%;
  background: white;
  float: left;
  margin: 0px auto;
  text-align: center;
  padding: 10px;
}

@media print {
  .zixunlist-12 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-13 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-13 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-14 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgb(112, 122, 138);
  font-size: 14px;
}

@media print {
  .zixunlist-14 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-15 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-15 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-16 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #3db485;
  font-size: 16px;
}

@media print {
  .zixunlist-16 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-17 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-17 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-18 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 16px;
  color: #2ebd85;
}

@media print {
  .zixunlist-18 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-19 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 123, 255);
  text-decoration: none;
  background-color: transparent;
}

.zixunlist-19:active {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-19:visited {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-19:link {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-19:hover {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

@media print {
  .zixunlist-19 {
    text-shadow: none !important;
    box-shadow: none !important;
    text-decoration: underline;
  }

  .zixunlist-19:hover {
    text-decoration: underline;
  }
}

.zixunlist-20 {
  box-sizing: border-box;
  border-radius: 20px;
  height: 90px;
  width: 33.3%;
  background: white;
  float: left;
  margin: 0px auto;
  text-align: center;
  padding: 10px;
}

@media print {
  .zixunlist-20 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-21 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-21 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-22 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgb(112, 122, 138);
  font-size: 14px;
  font-weight: 500;
}

@media print {
  .zixunlist-22 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-23 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-23 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-24 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-24 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-25 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-25 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-26 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 16px;
  color: #2ebd85;
}

@media print {
  .zixunlist-26 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-27 {
  box-sizing: border-box;
  padding: 0px;
  width: 86%;
  height: 1px;
  background: #272936;
  margin: 0 7%;
}

@media print {
  .zixunlist-27 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-28 {
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding: 0px 10px;
}

@media print {
  .zixunlist-28 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-29 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 10%;
  height: 40px;
  float: left;
  line-height: 40px;
  text-align: center;
}

@media print {
  .zixunlist-29 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-30 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  vertical-align: middle;
}

@media print {
  .zixunlist-30 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-31 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-31 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-32 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-32 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-33 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-33 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-34 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-34 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-35 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-35 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-36 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-36 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-37 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 75%;
  height: 40px;
  float: left;
  line-height: 40px;
}

@media print {
  .zixunlist-37 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-38 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 25px;
  line-height: 25px;
  border: none;
  overflow: hidden;
  margin-top: 8px;
}

@media print {
  .zixunlist-38 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-39 {
  box-sizing: border-box;
  margin: 0px;
  margin-bottom: 1rem;
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}

@media print {
  .zixunlist-39 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-40 {
  box-sizing: border-box;
  margin: 0px;
  list-style-type: none;
  padding: 0px;
  height: 25px;
  padding-left: 10px;
}

@media print {
  .zixunlist-40 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-41 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 123, 255);
  text-decoration: none;
  background-color: transparent;
}

.zixunlist-41:active {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-41:visited {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-41:link {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-41:hover {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

@media print {
  .zixunlist-41 {
    text-shadow: none !important;
    box-shadow: none !important;
    text-decoration: underline;
  }

  .zixunlist-41:hover {
    text-decoration: underline;
  }
}

.zixunlist-42 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 10%;
  height: 40px;
  float: right;
  line-height: 40px;
  text-align: center;
}

@media print {
  .zixunlist-42 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-43 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 123, 255);
  text-decoration: none;
  background-color: transparent;
}

.zixunlist-43:active {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-43:visited {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-43:link {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

.zixunlist-43:hover {
  color: rgb(112, 122, 138);
  text-decoration: none;
}

@media print {
  .zixunlist-43 {
    text-shadow: none !important;
    box-shadow: none !important;
    text-decoration: underline;
  }

  .zixunlist-43:hover {
    text-decoration: underline;
  }
}

.zixunlist-44 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  vertical-align: middle;
}

@media print {
  .zixunlist-44 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

.zixunlist-45 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media print {
  .zixunlist-45 {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}