.rspacing-1:focus {
  outline: 0px;
}

.rspacing-1:after {
  display: table;
  clear: both;
  content: "";
}

.rspacing-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin-top: 1rem;
}

.rspacing-2:focus {
  outline: 0px;
}

.rspacing-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.rspacing-3:focus {
  outline: 0px;
}

.rspacing-3:after {
  display: table;
  clear: both;
  content: "";
}

.rspacing-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  background-color: rgb(241, 241, 242);
  margin-top: 0.53333rem;
  width: 90%;
  margin-left: 5%;
  border-radius: 0.53333rem;
}

.rspacing-4:focus {
  outline: 0px;
}

.rspacing-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 0.98667rem;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(255, 255, 255) !important;
  line-height: 24px;
  background-color: rgb(241, 241, 242) !important;
}

.rspacing-4:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
  display: none;
}

.rspacing-5:focus {
  outline: 0px;
}

.rspacing-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 6.2em;
  margin-right: 12px;
  color: rgb(100, 101, 102);
  text-align: left;
  overflow-wrap: break-word;
}

.rspacing-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.rspacing-7:focus {
  outline: 0px;
}

.rspacing-7 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  position: relative;
  overflow: visible;
  color: rgb(150, 151, 153);
  text-align: right;
  overflow-wrap: break-word;
}

.rspacing-8:focus {
  outline: 0px;
}

.rspacing-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.rspacing-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  color: rgb(0, 0, 0);
  font: inherit;
  margin: 0px;
  overflow: visible;
  text-transform: none;
  vertical-align: middle;
  display: block;
  width: 100%;
  min-width: 0px;
  padding: 0px;
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  border: 0px;
  resize: none;
}

.rspacing-9:focus {
  outline: 0px;
}

.rspacing-9:placeholder {
  color: rgb(150, 151, 153);
}

.rspacing-9:disabled {
  color: rgb(200, 201, 204);
  cursor: not-allowed;
  opacity: 1;
  -webkit-text-fill-color: rgb(200, 201, 204);
}

.rspacing-9:read-only {
  cursor: default;
}

.rspacing-10:focus {
  outline: 0px;
}

.rspacing-10:after {
  display: table;
  clear: both;
  content: "";
}

.rspacing-10 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  background-color: rgb(241, 241, 242);
  margin-top: 0.53333rem;
  width: 90%;
  margin-left: 5%;
  border-radius: 0.53333rem;
}

.rspacing-11:focus {
  outline: 0px;
}

.rspacing-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 0.98667rem;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(255, 255, 255) !important;
  line-height: 24px;
  background-color: rgb(241, 241, 242) !important;
}

.rspacing-11:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
  display: none;
}

.rspacing-12:focus {
  outline: 0px;
}

.rspacing-12 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 6.2em;
  margin-right: 12px;
  color: rgb(100, 101, 102);
  text-align: left;
  overflow-wrap: break-word;
}

.rspacing-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.rspacing-14:focus {
  outline: 0px;
}

.rspacing-14 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  position: relative;
  overflow: visible;
  color: rgb(150, 151, 153);
  text-align: right;
  overflow-wrap: break-word;
}

.rspacing-15:focus {
  outline: 0px;
}

.rspacing-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.rspacing-16 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  color: rgb(0, 0, 0);
  font: inherit;
  margin: 0px;
  overflow: visible;
  text-transform: none;
  vertical-align: middle;
  display: block;
  width: 100%;
  min-width: 0px;
  padding: 0px;
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  border: 0px;
  resize: none;
}

.rspacing-16:focus {
  outline: 0px;
}

.rspacing-16:placeholder {
  color: rgb(150, 151, 153);
}

.rspacing-16:disabled {
  color: rgb(200, 201, 204);
  cursor: not-allowed;
  opacity: 1;
  -webkit-text-fill-color: rgb(200, 201, 204);
}

.rspacing-16:read-only {
  cursor: default;
}

.rspacing-17:focus {
  outline: 0px;
}

.rspacing-17:after {
  display: table;
  clear: both;
  content: "";
}

.rspacing-17 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  background-color: rgb(241, 241, 242);
  margin-top: 0.53333rem;
  width: 90%;
  margin-left: 5%;
  border-radius: 0.53333rem;
}

.rspacing-18:focus {
  outline: 0px;
}

.rspacing-18 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 0.98667rem;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(255, 255, 255) !important;
  line-height: 24px;
  background-color: rgb(241, 241, 242) !important;
}

.rspacing-18:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
  display: none;
}

.rspacing-19:focus {
  outline: 0px;
}

.rspacing-19 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 6.2em;
  margin-right: 12px;
  color: rgb(100, 101, 102);
  text-align: left;
  overflow-wrap: break-word;
}

.rspacing-20 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.rspacing-21:focus {
  outline: 0px;
}

.rspacing-21 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  position: relative;
  overflow: visible;
  color: rgb(150, 151, 153);
  text-align: right;
  overflow-wrap: break-word;
}

.rspacing-22:focus {
  outline: 0px;
}

.rspacing-22 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.rspacing-23 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  color: rgb(0, 0, 0);
  font: inherit;
  margin: 0px;
  overflow: visible;
  text-transform: none;
  vertical-align: middle;
  display: block;
  width: 100%;
  min-width: 0px;
  padding: 0px;
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  border: 0px;
  resize: none;
}

.rspacing-23:focus {
  outline: 0px;
}

.rspacing-23:placeholder {
  color: rgb(150, 151, 153);
}

.rspacing-23:disabled {
  color: rgb(200, 201, 204);
  cursor: not-allowed;
  opacity: 1;
  -webkit-text-fill-color: rgb(200, 201, 204);
}

.rspacing-23:read-only {
  cursor: default;
}

.rspacing-24:focus {
  outline: 0px;
  margin-top: 2rem;
}

.rspacing-24:after {
  display: table;
  clear: both;
  content: "";
  margin-top: 1rem;
}

.rspacing-24 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  text-align: center;
  vertical-align: baseline;
  background: transparent;
  margin-top: 1rem;
}

.rspacing-25:focus {
  outline: 0px;
}

.rspacing-25:after {
  display: table;
  clear: both;
  content: "";
}

.rspacing-25 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 2% 10% 5%;
  padding: 0px;
  border: 0.02667rem dashed grey;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 10rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rspacing-26:focus {
  outline: 0px;
}

.rspacing-26 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.rspacing-27:focus {
  outline: 0px;
}

.rspacing-27 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.rspacing-28:focus {
  outline: 0px;
}

.rspacing-28 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.rspacing-28:active {
  background-color: rgb(242, 243, 245);
}

.rspacing-29:focus {
  outline: 0px;
}

.rspacing-29 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 24px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  font-family: vant-icon;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  color: rgb(220, 222, 224);
}

.rspacing-29:before {
  display: inline-block;
  content: "";
}

.rspacing-30 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  font: inherit;
  margin: 0px;
  overflow: hidden;
  text-transform: none;
  vertical-align: middle;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.rspacing-30:focus {
  outline: 0px;
}

.rspacing-30:disabled {
  cursor: not-allowed;
}

.rspacing-31:focus {
  outline: 0px;
}

.rspacing-31:after {
  display: table;
  clear: both;
  content: "";
}

.rspacing-31 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  text-align: center;
  vertical-align: baseline;
  background: transparent;
}

.rspacing-32:focus {
  outline: 0px;
}

.rspacing-32:after {
  display: table;
  clear: both;
  content: "";
}

.rspacing-32 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 2% 10% 5%;
  padding: 0px;
  border: 0.02667rem dashed grey;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 10rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rspacing-33:focus {
  outline: 0px;
}

.rspacing-33 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.rspacing-34:focus {
  outline: 0px;
}

.rspacing-34 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.rspacing-35:focus {
  outline: 0px;
}

.rspacing-35 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.rspacing-35:active {
  background-color: rgb(242, 243, 245);
}

.rspacing-36:focus {
  outline: 0px;
}

.rspacing-36 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 24px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  font-family: vant-icon;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  color: rgb(220, 222, 224);
}

.rspacing-36:before {
  display: inline-block;
  content: "";
}

.rspacing-37 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  font: inherit;
  margin: 0px;
  overflow: hidden;
  text-transform: none;
  vertical-align: middle;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.rspacing-37:focus {
  outline: 0px;
}

.rspacing-37:disabled {
  cursor: not-allowed;
}

.rspacing-38 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font: inherit;
  margin: 0px;
  overflow: visible;
  text-transform: none;
  position: relative;
  display: inline-block;
  height: 4rem;
  font-size: 0.93333rem;
  line-height: 1.2;
  text-align: center;
  border-radius: 0.53333rem;
  cursor: pointer;
  transition: opacity 0.2s ease 0s;
  appearance: none;
  background-color: var(--boutton-background-color);
  border: none;
  margin-top: 10%;
  width: 80%;
  margin-left:  10%;
  letter-spacing: 0.53333rem;
  box-shadow: var(--boutton-background-color) 0px 0px 1.33333rem;
}

.rspacing-39 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
}

.rspacing-39:before {
  content: " ";
}

.rspacing-40:focus {
  outline: 0px;
}

.rspacing-40 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
