.property-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  background-color: rgb(255, 255, 255);
  padding-bottom: 60px;
}

.property-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1rem;
  vertical-align: baseline;
  background: transparent;
  color: rgb(130, 130, 130);
  padding-top: 10px;
  display: flex;
  padding-left: 3%;
  font-weight: 500;
}

.property-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1.3rem;
  vertical-align: baseline;
  background: transparent;
  color: rgb(34, 39, 50);
  font-weight: 500;
  display: flex;
  padding-left: 3%;
  margin-top: 8px;
}

.property-4:focus {
  outline: 0px;
}

.property-4:after {
  display: table;
  clear: both;
  content: "";
}

.property-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border-top: 1px solid rgb(245, 245, 245);
  margin-top: 20px;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.property-5:focus {
  outline: 0px;
}

.property-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
}

.property-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 1px solid rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
}

.property-7 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.9rem;
  vertical-align: baseline;
  background: transparent;
  color: rgb(130, 130, 130);
  text-align: left;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-left: 1rem;
}

.property-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1rem;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-left: 1rem;
  color: rgb(34, 39, 50);
  margin-top: 10px;
}

.property-9:focus {
  outline: 0px;
}

.property-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
}

.property-10 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.property-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.9rem;
  vertical-align: baseline;
  background: transparent;
  color: rgb(130, 130, 130);
  text-align: left;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-left: 1rem;
}

.property-12 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1rem;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-left: 1rem;
  color: rgb(34, 39, 50);
  margin-top: 10px;
}

.property-13:focus {
  outline: 0px;
}

.property-13:after {
  display: table;
  clear: both;
  content: "";
}

.property-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.property-14:focus {
  outline: 0px;
}

.property-14 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
}

.property-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 1px solid rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
}

.property-16 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.9rem;
  vertical-align: baseline;
  background: transparent;
  color: rgb(130, 130, 130);
  text-align: left;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-left: 1rem;
}

.property-17 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1rem;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-left: 1rem;
  color: rgb(34, 39, 50);
  margin-top: 10px;
}

.property-18:focus {
  outline: 0px;
}

.property-18 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
}

.property-19:focus {
  outline: 0px;
}

.property-19:after {
  display: table;
  clear: both;
  content: "";
}

.property-19 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin-top: 20px;
}

.property-20:focus {
  outline: 0px;
}

.property-20 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.property-21 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1rem;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 230, 234);
  border-radius: 5px;
  color: rgb(34, 39, 50);
  padding-top: 7px;
  padding-bottom: 7px;
  width: 80%;
}

.property-22:focus {
  outline: 0px;
}

.property-22 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.property-23 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1rem;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 230, 234);
  border-radius: 5px;
  color: rgb(34, 39, 50);
  padding-top: 7px;
  padding-bottom: 7px;
  width: 80%;
}

.property-24:focus {
  outline: 0px;
}

.property-24 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.property-25 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1rem;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 230, 234);
  border-radius: 5px;
  color: rgb(34, 39, 50);
  padding-top: 7px;
  padding-bottom: 7px;
  width: 80%;
}

.property-26 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border-top: 5px solid rgb(245, 245, 245);
  border-bottom: 5px solid rgb(245, 245, 245);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.property-27 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow: hidden;
}

.property-28 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 32px;
}

.property-29 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 13px;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  color: rgb(130, 130, 130);
  margin-top: 5px;
}

.property-30 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.property-31 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 28px;
}

.property-32 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 13px;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  color: rgb(130, 130, 130);
  margin-top: 5px;
}

.property-33 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.property-34 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 28px;
}

.property-35 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 13px;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  color: rgb(130, 130, 130);
  margin-top: 5px;
}

.property-36 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.property-37 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 28px;
}

.property-38 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 13px;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  color: rgb(130, 130, 130);
  margin-top: 5px;
}

.property-39 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.property-40 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 28px;
}

.property-41 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 13px;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  color: rgb(130, 130, 130);
  margin-top: 5px;
}

.property-42 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.property-43 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 28px;
}

.property-44 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 13px;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  color: rgb(130, 130, 130);
  margin-top: 5px;
}

.property-45 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.property-46 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 28px;
}

.property-47 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 13px;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  color: rgb(130, 130, 130);
  margin-top: 5px;
}

.property-48 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.property-49 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 28px;
}

.property-50 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 13px;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  color: rgb(130, 130, 130);
  margin-top: 5px;
}

.property-51 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px 4%;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin-top: 20px;
  width: 92%;
}

.propertyTab-14 {
  text-decoration: none;
  color: inherit;
  outline: 0px;
  width: 25%;
  display: block;
  padding: 4.26667vw 0px;
  text-align: center;
  overflow: hidden;
}

.propertyTab-14:focus {
  outline: 0px;
}

.propertyTab-15 {
  width: 32px;
}

.propertyTab-16 {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2vw;
  line-height: 4.53333vw;
  color: rgb(130, 130, 130);
}

.propertyTab-17 {
  text-decoration: none;
  color: inherit;
  outline: 0px;
  width: 25%;
  display: block;
  padding: 4.26667vw 0px;
  text-align: center;
  overflow: hidden;
}

.propertyTab-17:focus {
  outline: 0px;
}

.propertyTab-18 {
  width: 7.46667vw;
}

.propertyTab-19 {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2vw;
  line-height: 4.53333vw;
  color: rgb(130, 130, 130);
}

.propertyTab-20 {
  text-decoration: none;
  color: inherit;
  outline: 0px;
  width: 25%;
  display: block;
  padding: 4.26667vw 0px;
  text-align: center;
  overflow: hidden;
}

.propertyTab-20:focus {
  outline: 0px;
}

.propertyTab-21 {
  width: 7.46667vw;
}

.propertyTab-22 {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2vw;
  line-height: 4.53333vw;
  color: rgb(130, 130, 130);
}

.propertyTab-23 {
  text-decoration: none;
  color: inherit;
  outline: 0px;
  width: 25%;
  display: block;
  padding: 4.26667vw 0px;
  text-align: center;
  overflow: hidden;
}

.propertyTab-23:focus {
  outline: 0px;
}

.propertyTab-24 {
  width: 7.46667vw;
}

.propertyTab-25 {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2vw;
  line-height: 4.53333vw;
  color: rgb(130, 130, 130);
}