.levermingling-1:focus {
  outline: 0px;
}

.levermingling-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background-color: #fff;
  flex-shrink: 0;
  width: 100%;
  min-height: 30vh;
}

.levermingling-2:focus {
  outline: 0px;
}

.levermingling-2:after {
  display: table;
  clear: both;
  content: "";
}

.levermingling-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.levermingling-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.levermingling-4:focus {
  outline: 0px;
}

.levermingling-4:after {
  display: table;
  clear: both;
  content: "";
}

.levermingling-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0.8rem 1.33333rem;
  border: 0px;
  outline: 0px;
  font-size: 1.6rem;
  vertical-align: baseline;
  background: transparent;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  line-height: 1.6rem;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.levermingling-5:focus {
  outline: 0px;
  text-align: left;
}

.levermingling-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
  text-align: left;
}

.levermingling-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.levermingling-7 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(246, 24, 91);
}

.levermingling-8:focus {
  outline: 0px;
  width: 1.5rem;
  height: 1rem;
}

.levermingling-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
}

.levermingling-9:focus {
  outline: 0px;
}

.levermingling-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: block;
  width: 100%;
  height: 100%;
}

.levermingling-10 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.levermingling-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
  margin-top: 10px;
}

.levermingling-12:focus {
  outline: 0px;
}

.levermingling-12 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
}

.levermingling-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(246, 24, 91);
}

.levermingling-14:focus {
  outline: 0px;
}

.levermingling-14 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.8rem;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
  color: grey;
  text-align: right;
}

.levermingling-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.levermingling-16 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.levermingling-17 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.levermingling-18 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.levermingling-19 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.levermingling-20 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.levermingling-21 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.levermingling-22 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.levermingling-23 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.levermingling-24:focus {
  outline: 0px;
}

.levermingling-24:after {
  display: table;
  clear: both;
  content: "";
}

.levermingling-24 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0.8rem 1.33333rem;
  border: 0px;
  outline: 0px;
  font-size: 1.6rem;
  vertical-align: baseline;
  background: transparent;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  line-height: 1.6rem;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.levermingling-25:focus {
  outline: 0px;
  text-align: left;
}

.levermingling-25 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
  text-align: left;
}

.levermingling-26 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.levermingling-27 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(20, 185, 92);
}

.levermingling-28:focus {
  outline: 0px;
  width: 1.5rem;
  height: 1rem;
}

.levermingling-28 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
}

.levermingling-29:focus {
  outline: 0px;
}

.levermingling-29 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: block;
  width: 100%;
  height: 100%;
}

.levermingling-30 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.levermingling-31 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
  margin-top: 10px;
}

.levermingling-32:focus {
  outline: 0px;
}

.levermingling-32 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
}

.levermingling-33 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(246, 24, 91);
}

.levermingling-34:focus {
  outline: 0px;
}

.levermingling-34 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.8rem;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
  color: grey;
  text-align: right;
}

.levermingling-35 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.levermingling-36 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.levermingling-37 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.levermingling-38 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.levermingling-39 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.levermingling-40 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.levermingling-41 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.levermingling-42 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.levermingling-43 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.levermingling-44:focus {
  outline: 0px;
  margin: 20px;
}

.levermingling-44:after {
  display: table;
  clear: both;
  content: "";
  margin: 20px;
}

.levermingling-44 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 20px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-align: center;
}

.pingcang{
  margin-top: -10px;
  border: 0;
  background-color: var(--boutton-background-color);
  color: white;
  border-radius: 2px;
  height: 2em;
  width: 4em;
}