.content-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.content-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.content-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.content-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.content-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.content-6 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.content-7 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.content-8 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.content-9 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.content-10 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.content-11 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.content-12 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.content-13 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.content-14 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.content-15 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.content-16 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.content-17 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.content-18 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}


