.topBar-1:focus {
  outline: 0px;
}

.topBar-1 {
  position: sticky;
  z-index: 99;
  width: 100%;
  top: 0;
}

.topBar-3 {
  position: relative;
  z-index: 1;
  line-height: 5.8666667vw;
  text-align: center;
  background: var(--boutton-background-color);
  user-select: none;
  padding-top: env(safe-area-inset-top);
}

.topBar-3:focus {
  outline: 0px;
}

.topBar-4 {
  position: relative;
  display: flex;
  align-items: center;
  height: 12.2666667vw;
}

.topBar-4:focus {
  outline: 0px;
}

.topBar-5 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  padding: 0 4.2666667vw;
  font-size: 3.7333333vw;
  cursor: pointer;
  left: 0px;
}

.topBar-5:active {
  opacity: 0.6;
}

.topBar-5:focus {
  outline: 0px;
}

.topBar-6 {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  font-family: vant-icon;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 5.33333vw;
  color: #fff;
}

.topBar-6:focus {
  outline: 0px;
}

.topBar-6:before {
  display: inline-block;
  content: "";
}

.topBar-7 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60%;
  margin: 0px auto;
  color: #fff;
  font-weight: 500;
  font-size: 4.2666667vw;
}

.topBar-7:focus {
  outline: 0px;
}

.topBar-8 {
  margin: 0px;
  font-weight: 400;
  font-size: 4.26667vw;
  line-height: 1;
}

.topBar-9 {
  font-size: 3.73333vw;
  line-height: 1;
  color: #fff;
}