.setting-1:focus {
  outline: 0px;
}

.setting-1:after {
  display: table;
  clear: both;
  content: "";
}

.setting-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin-top: 1.2rem;
}

.setting-2:focus {
  outline: 0px;
}

.setting-2:after {
  display: table;
  clear: both;
  content: "";
}

.setting-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.setting-3:focus {
  outline: 0px;
}

.setting-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(50, 50, 51);
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  height: 3.2rem;
}

.setting-3:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
}

.setting-3:active {
  background-color: rgb(242, 243, 245);
}

.setting-4:focus {
  outline: 0px;
}

.setting-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  text-align: left;
}

.setting-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.setting-6:focus {
  outline: 0px;
}

.setting-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  position: relative;
  overflow: hidden;
  color: rgb(0, 0, 0);
  text-align: right;
  overflow-wrap: break-word;
}

.setting-7 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.setting-8:focus {
  outline: 0px;
}

.setting-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 16px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  font-family: vant-icon;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  height: 24px;
  margin-left: 4px;
  color: rgb(150, 151, 153);
}

.setting-8:before {
  display: inline-block;
  content: "";
}

.setting-9:focus {
  outline: 0px;
  z-index: 2003;
  display: none;
}

.setting-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2003;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.setting-10:focus {
  outline: 0px;
  width: 90%;
  z-index: 2004;
  display: none;
}

.setting-10 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: fixed;
  max-height: 100%;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
  width: 90%;
  border-radius: 0.4rem;
  color: var(--boutton-background-color) !important;
  z-index: 2004;
  display: none;
}

.setting-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  line-height: 3.125rem;
  letter-spacing: normal;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  background: transparent;
  padding-top: 4%;
  padding-bottom: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.setting-12:focus {
  outline: 0px;
}

.setting-12:after {
  display: table;
  clear: both;
  content: "";
}

.setting-12 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 100%;
  height: 55%;
}

.setting-13:focus {
  outline: 0px;
}

.setting-13:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  inset: -50%;
  border: none;
  transform: scale(0.5);
  border-width: 1px 0px;
}

.setting-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  background-color: rgb(255, 255, 255);
  margin-top: 1.33333rem;
  margin-bottom: 1.33333rem;
}

.setting-14:focus {
  outline: 0px;
}

.setting-14 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(50, 50, 51);
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  height: 3.2rem;
}

.setting-14:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
  display: none;
}

.setting-15:focus {
  outline: 0px;
}

.setting-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 4.2rem;
  margin-right: 0.13333rem;
  color: rgb(100, 101, 102);
  text-align: left;
  overflow-wrap: break-word;
}

.setting-16 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.setting-17:focus {
  outline: 0px;
}

.setting-17 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  position: relative;
  overflow: visible;
  color: rgb(0, 0, 0);
  text-align: right;
  overflow-wrap: break-word;
}

.setting-18:focus {
  outline: 0px;
}

.setting-18 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.setting-19 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  color: rgb(0, 0, 0);
  font: inherit;
  margin: 0px;
  overflow: visible;
  text-transform: none;
  vertical-align: middle;
  display: block;
  width: 100%;
  min-width: 0px;
  padding: 0px;
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  border: 0px;
  resize: none;
  font-size: 1rem !important;
  border-radius: 0.08rem !important;
}

.setting-19:focus {
  outline: 0px;
}

.setting-19:placeholder {
  color: rgb(150, 151, 153);
}

.setting-19:disabled {
  color: rgb(200, 201, 204);
  cursor: not-allowed;
  opacity: 1;
  -webkit-text-fill-color: rgb(200, 201, 204);
}

.setting-19:read-only {
  cursor: default;
}

.setting-20 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  color: var(--boutton-background-color);
  font: inherit;
  margin: 0px;
  overflow: visible;
  text-transform: none;
  width: 50%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-width: 0.02667rem 0px 0px;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image: initial;
  background-color: rgb(255, 255, 255);
  border-top-style: solid;
  border-top-color: rgb(229, 229, 229);
  font-size: 1.06667rem;
  border-right: 1px solid white;
}

.setting-20:focus {
  outline: 0px;
  border-right: 1px solid white;
}

.setting-21 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  color: var(--boutton-background-color);
  font: inherit;
  margin: 0px;
  overflow: visible;
  text-transform: none;
  width: 50%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-width: 0.02667rem 0px 0px;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image: initial;
  background-color: rgb(255, 255, 255);
  border-top-style: solid;
  border-top-color: rgb(229, 229, 229);
  font-size: 1.06667rem;
}

.setting-21:focus {
  outline: 0px;
}

.setting-22:focus {
  outline: 0px;
}

.setting-22 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(50, 50, 51);
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  height: 3.2rem;
}

.setting-22:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
}

.setting-22:active {
  background-color: rgb(242, 243, 245);
}

.setting-23:focus {
  outline: 0px;
}

.setting-23 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  text-align: left;
}

.setting-24 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.setting-25:focus {
  outline: 0px;
}

.setting-25 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 16px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  font-family: vant-icon;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  height: 24px;
  margin-left: 4px;
  color: rgb(150, 151, 153);
}

.setting-25:before {
  display: inline-block;
  content: "";
}

.setting-26:focus {
  outline: 0px;
}

.setting-26 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(50, 50, 51);
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  height: 3.2rem;
}

.setting-26:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
  display: none;
}

.setting-26:active {
  background-color: rgb(242, 243, 245);
}

.setting-27:focus {
  outline: 0px;
}

.setting-27 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  text-align: left;
}

.setting-28 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.setting-29:focus {
  outline: 0px;
}

.setting-29 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 16px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  font-family: vant-icon;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  height: 24px;
  margin-left: 4px;
  color: rgb(150, 151, 153);
}

.setting-29:before {
  display: inline-block;
  content: "";
}

.setting-30:focus {
  outline: 0px;
  margin-top: 10px;
}

.setting-30:after {
  display: table;
  clear: both;
  content: "";
  margin-top: 10px;
}

.setting-30 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin-top: 10px;
}

.setting-31:focus {
  outline: 0px;
}

.setting-31 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(50, 50, 51);
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  height: 3.2rem;
}

.setting-31:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
}

.setting-32:focus {
  outline: 0px;
}

.setting-32 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  text-align: left;
}

.setting-33 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.setting-34:focus {
  outline: 0px;
}

.setting-34 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  user-select: none;
}

.setting-35:focus {
  outline: 0px;
}

.setting-35 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent !important;
  position: relative;
  display: flex;
  height: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: none;
}

.setting-36:focus {
  outline: 0px;
}

.setting-36 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 0px;
  cursor: pointer;
}

.setting-36:active {
  opacity: 0.7;
}

.setting-37:focus {
  outline: 0px;
}

.setting-37 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px 8px;
  border: 0px;
  outline: 0px;
  font-size: 15px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  max-width: 100%;
  color: rgb(33, 33, 33) !important;
  line-height: 22px;
}

.setting-37:after {
  position: absolute;
  top: 50%;
  right: -4px;
  margin-top: -5px;
  border-width: 3px;
  border-style: solid;
  border-image: initial;
  border-color: transparent transparent rgb(220, 222, 224) rgb(220, 222, 224);
  transform: rotate(-45deg);
  opacity: 0.8;
  content: "";
}

.setting-38:focus {
  outline: 0px;
}

.setting-38 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.setting-39 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.setting-40:focus {
  outline: 0px;
  top: 0px;
  display: none;
}

.setting-40 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 10;
  overflow: hidden;
  bottom: 0px;
  margin-top: 1.1rem;
  top: 0px;
  display: none;
}

.setting-41:focus {
  outline: 0px;
}

.setting-41 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(50, 50, 51);
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  height: 3.2rem;
}

.setting-41:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
  display: none;
}

.setting-42:focus {
  outline: 0px;
}

.setting-42 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  text-align: left;
}

.setting-43 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.setting-44:focus {
  outline: 0px;
}

.setting-44 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  position: relative;
  overflow: hidden;
  color: rgb(0, 0, 0);
  text-align: right;
  overflow-wrap: break-word;
}

.setting-45 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
