.topBar2-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1.12rem;
  vertical-align: baseline;
  background: transparent;
  background-color: rgb(67, 67, 67);
  box-shadow: rgba(0, 0, 0, 0.5) 0px -0.13333rem 0.53333rem 0.13333rem;
  position: fixed;
  z-index: 99;
  width: 100%;
}

.topBar2-2:focus {
  outline: 0px;
}

.topBar2-2:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  inset: -50%;
  border: 0px solid rgb(235, 237, 240);
  transform: scale(0.5);
  border-bottom-width: 1px;
}

.topBar2-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1.12rem !important;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  z-index: 1;
  line-height: 22px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  user-select: none;
  color: var(--boutton-background-color) !important;
  font-weight: 800 !important;
}

.topBar2-3:focus {
  outline: 0px;
}

.topBar2-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 46px;
}

.topBar2-4:focus {
  outline: 0px;
}

.topBar2-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px 16px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  left: 0px;
}

.topBar2-4:active {
  opacity: 0.7;
}

.topBar2-5:focus {
  outline: 0px;
  width: 7.5rem;
  height: 2rem;
}

.topBar2-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: inline-block;
  width: 7.5rem;
  height: 2rem;
}

.topBar2-6:focus {
  outline: 0px;
}

.topBar2-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: block;
  width: 100%;
  height: 100%;
}

.topBar2-7:focus {
  outline: 0px;
}

.topBar2-7 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px auto;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1.12rem !important;
  vertical-align: baseline;
  background: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60%;
  color: var(--boutton-background-color) !important;
  font-weight: 800 !important;
}

.topBar2-8:focus {
  outline: 0px;
}

.topBar2-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px 16px;
  border: 0px;
  outline: 0px;
  font-size: 1.5rem;
  vertical-align: baseline;
  background: transparent;
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  right: 0px;
}

.topBar2-8:active {
  opacity: 0.7;
}

.topBar2-9:focus {
  outline: 0px;
}

.topBar2-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  user-select: none;
}

.topBar2-10:focus {
  outline: 0px;
}

.topBar2-10 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent !important;
  position: relative;
  display: flex;
  height: 48px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 101, 102, 0) 0px 2px 12px;
}

.topBar2-11:focus {
  outline: 0px;
}

.topBar2-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 0px;
  cursor: pointer;
}

.topBar2-11:active {
  opacity: 0.7;
}

.topBar2-12:focus {
  outline: 0px;
}

.topBar2-12 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px 8px;
  border: 0px;
  outline: 0px;
  font-size: 15px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  max-width: 100%;
  color: rgb(51, 51, 51);
  line-height: 22px;
}

.topBar2-12:after {
  position: absolute;
  top: 50%;
  right: -4px;
  margin-top: -5px;
  border-width: 3px;
  border-style: solid;
  border-image: initial;
  border-color: transparent transparent rgb(220, 222, 224) rgb(220, 222, 224);
  transform: rotate(-45deg);
  opacity: 0.8;
  content: "";
}

.topBar2-13:focus {
  outline: 0px;
}

.topBar2-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.topBar2-14 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.topBar2-15:focus {
  outline: 0px;
  top: 47px;
}

.topBar2-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 10;
  overflow: hidden;
  bottom: 0px;
  top: 47px;
}

.topBar2-16:focus {
  outline: 0px;
  z-index: 2005;
  position: absolute;
  animation-duration: 0.2s;
  display: none;
}

.topBar2-16 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2005;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  animation-duration: 0.2s;
  display: none;
}

.topBar2-17:focus {
  outline: 0px;
  transition-duration: 0.2s;
  z-index: 2006;
  display: none;
}

.topBar2-17 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: absolute;
  max-height: 80%;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  top: 0px;
  left: 0px;
  width: 100%;
  transition-duration: 0.2s;
  z-index: 2006;
  display: none;
}

.topBar2-18:focus {
  outline: 0px;
}

.topBar2-18 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(50, 50, 51);
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: left;
}

.topBar2-18:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
}

.topBar2-18:active {
  background-color: rgb(242, 243, 245);
}

.topBar2-19:focus {
  outline: 0px;
}

.topBar2-19 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}

.topBar2-20 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.topBar2-21:focus {
  outline: 0px;
  color: rgb(51, 51, 51);
}

.topBar2-21 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(51, 51, 51);
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: left;
}

.topBar2-21:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
  color: rgb(51, 51, 51);
}

.topBar2-21:active {
  background-color: rgb(242, 243, 245);
  color: rgb(51, 51, 51);
}

.topBar2-22:focus {
  outline: 0px;
}

.topBar2-22 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}

.topBar2-23 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.topBar2-24:focus {
  outline: 0px;
}

.topBar2-24 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  position: relative;
  overflow: hidden;
  color: rgb(150, 151, 153);
  text-align: right;
  overflow-wrap: break-word;
}

.topBar2-25:focus {
  outline: 0px;
  color: rgb(51, 51, 51);
}

.topBar2-25 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: inherit;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: inherit;
  font-family: vant-icon;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: block;
  color: rgb(51, 51, 51) !important;
}

.topBar2-25:before {
  display: inline-block;
  content: "ïƒˆ";
  color: rgb(51, 51, 51);
}

.topBar2-26:focus {
  outline: 0px;
}

.topBar2-26 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(50, 50, 51);
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: left;
}

.topBar2-26:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
}

.topBar2-26:active {
  background-color: rgb(242, 243, 245);
}

.topBar2-27:focus {
  outline: 0px;
}

.topBar2-27 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}

.topBar2-28 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.topBar2-29:focus {
  outline: 0px;
}

.topBar2-29 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(50, 50, 51);
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: left;
}

.topBar2-29:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
}

.topBar2-29:active {
  background-color: rgb(242, 243, 245);
}

.topBar2-30:focus {
  outline: 0px;
}

.topBar2-30 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}

.topBar2-31 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.topBar2-32:focus {
  outline: 0px;
}

.topBar2-32 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(50, 50, 51);
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: left;
}

.topBar2-32:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
}

.topBar2-32:active {
  background-color: rgb(242, 243, 245);
}

.topBar2-33:focus {
  outline: 0px;
}

.topBar2-33 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}

.topBar2-34 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.topBar2-35:focus {
  outline: 0px;
}

.topBar2-35 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(50, 50, 51);
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: left;
}

.topBar2-35:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
  display: none;
}

.topBar2-35:active {
  background-color: rgb(242, 243, 245);
}

.topBar2-36:focus {
  outline: 0px;
}

.topBar2-36 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}

.topBar2-37 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
