.idcard-1:focus {
  outline: 0px;
}

.idcard-1:after {
  display: table;
  clear: both;
  content: "";
}

.idcard-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 90%;
  height: 13.3333rem;
  background-color: rgb(255, 255, 255);
  margin-left: 5%;
  margin-top: 4%;
  border-radius: 0.53333rem;
}

.idcard-2:focus {
  outline: 0px;
}

.idcard-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 10px 16px;
  border: 0px;
  outline: 0px;
  font-size: 1rem;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  color: rgb(0, 0, 0) !important;
  line-height: 24px;
  background-color: rgb(255, 255, 255) !important;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.53333rem;
}

.idcard-2:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0px;
  left: 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
  transform: scaleY(0.5);
}

.idcard-3:focus {
  outline: 0px;
}

.idcard-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  text-align: left;
}

.idcard-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.idcard-5:focus {
  outline: 0px;
}

.idcard-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  position: relative;
  overflow: hidden;
  color: rgb(150, 151, 153);
  text-align: right;
  overflow-wrap: break-word;
}

.idcard-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.idcard-7:focus {
  outline: 0px;
}

.idcard-7:after {
  display: table;
  clear: both;
  content: "";
}

.idcard-7 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.idcard-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 1.33333rem 0px 0px 1.33333rem;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.98667rem;
  vertical-align: baseline;
  background: transparent;
  color: rgb(178, 178, 178);
  display: block;
  text-align: left;
}

.idcard-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 1.33333rem 0px 0px 1.33333rem;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.98667rem;
  vertical-align: baseline;
  background: transparent;
  color: rgb(178, 178, 178);
  display: block;
  text-align: left;
}
