.topbar4-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 0;
}

.topbar4-2:focus {
  outline: 0px;
}

.topbar4-2:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  inset: -50%;
  transform: scale(0.5);
  border-bottom-width: 1px;
}

.topbar4-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1.12rem !important;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  z-index: 1;
  line-height: 22px;
  text-align: center;
  user-select: none;
  color: rgb(255, 255, 255) !important;
  font-weight: 800 !important;
}

.topbar4-3:focus {
  outline: 0px;
}

.topbar4-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 46px;
}

.topbar4-4:focus {
  outline: 0px;
}

.topbar4-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px 16px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  left: 0px;
}

.topbar4-4:active {
  opacity: 0.7;
}

.topbar4-5:focus {
  outline: 0px;
}

.topbar4-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 16px;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  font-family: vant-icon;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  margin-right: 4px;
  color: rgb(51, 51, 51);
}

.topbar4-5:before {
  display: inline-block;
  content: "";
}

.topbar4-6:focus {
  outline: 0px;
}

.topbar4-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px auto;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 1.12rem !important;
  vertical-align: baseline;
  background: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60%;
  /* color: var(--boutton-background-color) !important; */
  font-weight: 800 !important;
}