.leverjianjie-1:focus {
  outline: 0px;
}

.leverjianjie-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background-color: #fff;
  flex-shrink: 0;
  width: 100%;
}

.leverjianjie-2:focus {
  outline: 0px;
}

.leverjianjie-2:after {
  display: table;
  clear: both;
  content: "";
}

.leverjianjie-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 1.06667rem;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-align: left;
}

.leverjianjie-3:focus {
  outline: 0px;
}

.leverjianjie-3:after {
  display: table;
  clear: both;
  content: "";
}

.leverjianjie-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-left: 0.53333rem;
  line-height: 2.93333rem;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.leverjianjie-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  line-height: 3.125rem;
  letter-spacing: normal;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(33, 33, 33);
}

.leverjianjie-5:focus {
  outline: 0px;
}

.leverjianjie-5:after {
  display: table;
  clear: both;
  content: "";
}

.leverjianjie-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-left: 0.53333rem;
  line-height: 2.93333rem;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.leverjianjie-6:focus {
  outline: 0px;
  text-align: left;
}

.leverjianjie-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: left;
}

.leverjianjie-7 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  color: grey;
}

.leverjianjie-8:focus {
  outline: 0px;
  text-align: right;
}

.leverjianjie-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: right;
}

.leverjianjie-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  color: grey;
}

.leverjianjie-10:focus {
  outline: 0px;
}

.leverjianjie-10:after {
  display: table;
  clear: both;
  content: "";
}

.leverjianjie-10 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-left: 0.53333rem;
  line-height: 2.93333rem;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.leverjianjie-11:focus {
  outline: 0px;
  text-align: left;
}

.leverjianjie-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: left;
}

.leverjianjie-12 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  color: grey;
}

.leverjianjie-13:focus {
  outline: 0px;
  text-align: right;
}

.leverjianjie-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: right;
}

.leverjianjie-14 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  color: grey;
}

.leverjianjie-15:focus {
  outline: 0px;
  border-bottom: none;
}

.leverjianjie-15:after {
  display: table;
  clear: both;
  content: "";
  border-bottom: none;
}

.leverjianjie-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-left: 0.53333rem;
  line-height: 2.93333rem;
  border-bottom: none;
}

.leverjianjie-16 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  line-height: 3.125rem;
  letter-spacing: normal;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(33, 33, 33);
}

.leverjianjie-17 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  color: grey;
}
