.tradTradingRecordCenterCZ-1:focus {
  outline: 0px;
}

.tradTradingRecordCenterCZ-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCZ-2:focus {
  outline: 0px;
}

.tradTradingRecordCenterCZ-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  flex-shrink: 0;
  width: 100%;
}

.tradTradingRecordCenterCZ-3:focus {
  outline: 0px;
}

.tradTradingRecordCenterCZ-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCZ-4:focus {
  outline: 0px;
}

.tradTradingRecordCenterCZ-4:after {
  display: table;
  clear: both;
  content: "";
}

.tradTradingRecordCenterCZ-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0.8rem 1.33333rem;
  border: 0px;
  outline: 0px;
  font-size: 0.8rem;
  vertical-align: baseline;
  background: transparent;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  line-height: 1.6rem;
  display: flex;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.tradTradingRecordCenterCZ-5:focus {
  outline: 0px;
  text-align: left;
}

.tradTradingRecordCenterCZ-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: left;
}

.tradTradingRecordCenterCZ-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCZ-7 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterCZ-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCZ-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCZ-10 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterCZ-11:focus {
  outline: 0px;
}

.tradTradingRecordCenterCZ-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: right;
}

.tradTradingRecordCenterCZ-12 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCZ-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.tradTradingRecordCenterCZ-14 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterCZ-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
}

.tradTradingRecordCenterCZ-16 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.tradTradingRecordCenterCZ-17 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
}

.tradTradingRecordCenterCZ-18:focus {
  outline: 0px;
}

.tradTradingRecordCenterCZ-18 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(150, 151, 153);
  line-height: 50px;
  text-align: center;
}

.tradTradingRecordCenterCZ-19:focus {
  outline: 0px;
}

.tradTradingRecordCenterCZ-19 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 0px;
  pointer-events: none;
}
