.addressList-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: rgb(44, 62, 80);
}

.addressList-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: auto;
  background-color: rgb(245, 245, 245);
}

.addressList-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 15px;
  vertical-align: baseline;
  background: transparent;
  padding-top: 30px;
  text-align: left;
  padding-left: 1rem;
  color: rgb(54, 54, 54);
}

.addressList-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.addressList-5:focus {
  outline: 0px;
}

.addressList-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.addressList-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin-top: 1rem;
}

.addressList-7:focus {
  outline: 0px;
}

.addressList-7 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  overflow: hidden;
  cursor: grab;
}

.addressList-8:focus {
  outline: 0px;
  transform: translate3d(0px, 0px, 0px);
  transition-duration: 0.6s;
}

.addressList-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1);
  transition-property: transform, -webkit-transform;
  transform: translate3d(0px, 0px, 0px);
  transition-duration: 0.6s;
}

.addressList-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 3.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: rgb(255, 255, 255);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addressList-10 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 15px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(50, 50, 50);
  text-align: left;
}

.addressList-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 10px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(153, 153, 153);
  margin-top: 0.2rem;
  text-align: left;
}

.addressList-12:focus {
  outline: 0px;
}

.addressList-12 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: absolute;
  top: 0px;
  height: 100%;
  right: 0px;
  transform: translate3d(100%, 0px, 0px);
}

.addressList-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addressList-14 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 2rem;
  height: 2rem;
}

.addressList-15:focus {
  outline: 0px;
}

.addressList-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(150, 151, 153);
  line-height: 50px;
  text-align: center;
}

.addressList-16:focus {
  outline: 0px;
}

.addressList-16 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 0px;
  pointer-events: none;
}
