.czlblistDiv-1 {
  margin-top: 0;
}

.czlblistitem-1 {
  width: 100%;
  height: 76px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 1px rgba(228, 227, 227, 0.918);
  border: 1px solid #f0f0f0;
  overflow: hidden;
  position: relative;
}

.czlblistitemname-1 {
  margin-top: 15px;
  margin-left: 14px;
  font-size: 16px;
  color: var(--boutton-background-color);
  font-weight: 700;
}

.czlblistitemaddress-1 {
  margin-top: 8px;
  margin-left: 14px;
  font-size: 12px;
  color: #999999;
}

.czlblistitemicon-1 {
  position: absolute;
  top: 33px;
  right: 10px;
  font-size: 20px;
  color: #999999;
}